<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Success</title>
</head>
<body>
<h3>Registration Success</h3>
<table>
  <tr>
    <td>Name</td>
    <td>{{name}}</td>
  </tr>
  <tr>
    <td>Age</td><td>{{age}}</td>
  </tr>
  <tr>
    <td>City</td><td>{{city}}</td>
  </tr>
</table>
</body>
</html>