<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DELETE THE USER</title>
</head>
<body>
<form action='' method="post">
<h1>Are you sure you want to delete this user</h1>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>CITY</th>
    </tr>

    <tr>
        <td>{{data.ID}}</td>
        <td>{{data.NAME}}</td>
        <td>{{data.AGE}}</td>
        <td>{{data.CITY}}</td>
        <td><input type="submit" value="Delete"></td>
    </tr>
</form>
</body>
</html>