<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDIT DETAILS</title>
</head>
<body>
<h1>EDIT User Details</h1>
  <form action='' method="post">
    <label>Name:</label>
    <input type="text" name="name" value="{{datas.NAME}}" required>
    <label>Age:</label>
    <input type="text" name="age" value="{{datas.AGE}}" required>
    <label>city</label>
    <input type="text" name="city" value="{{datas.CITY}}" required>
    <input type="submit" value="Edit Details">
  </form>
</body>
</html>