<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD OPERATION</title>
</head>
<body>
  <h1>TITLE</h1>
  <p> <a href="{{url_for('addusers')}}"> Add users</a></p>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>CITY</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    {% for data in datas %}
    <tr>
        <td>{{data.ID}}</td>
        <td>{{data.NAME}}</td>
        <td>{{data.AGE}}</td>
        <td>{{data.CITY}}</td>
        <td><a href="{{url_for('edituser', id=data.ID)}}">EDIT</a></td>
        <td><a href="{{url_for('deleteuser', id=data.ID)}}">DELETE</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
